In [1]:
%autosave 60

Autosaving every 60 seconds

#ex00

https://rukovodstvo.net/posts/id_599/

In [2]:
import pandas as pd

In [3]:
from google.colab import drive  # если вы выполняете код из среды Google Colab, нужно подключить свой гугл-диск,
drive.mount('/content/drive')

Mounted at /content/drive

In [14]:
col_names = ['datetime', 'user']
df = pd.read_csv('/content/drive/MyDrive/Pyton/feed-views.log', sep='\t', skiprows=(2,3), skipfooter=2, names=col_names, index_col='datetime')
df

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

                                 user
datetime
2020-04-17 12:01:08.463179      artem
2020-04-17 12:01:23.743946      artem
2020-04-17 12:35:52.735016      artem
2020-04-17 12:36:21.401412     oksana
2020-04-17 12:36:22.023355     oksana
...                               ...
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

[1072 rows x 1 columns]

In [6]:
df.to_csv(sep=',', path_or_buf='feed-views-semicolon.log')

In [15]:
df.rename(columns={'datetime':'date_time'}, inplace=True)
df.head()

                              user
datetime
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

In [16]:
df.tail()

                                 user
datetime
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

#ex01

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive  # если вы выполняете код из среды Google Colab, нужно подключить свой гугл-диск,
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
col_names = ['datetime', 'user']
df = pd.read_csv('/content/drive/MyDrive/Pyton/feed-views.log', sep='\t', names=col_names)

In [17]:
df

                                 user
datetime
2020-04-17 12:01:08.463179      artem
2020-04-17 12:01:23.743946      artem
2020-04-17 12:35:52.735016      artem
2020-04-17 12:36:21.401412     oksana
2020-04-17 12:36:22.023355     oksana
...                               ...
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

[1072 rows x 1 columns]

In [ ]:
df['datetime'] = pd.to_datetime(df.datetime)

In [18]:
df

                                 user
datetime
2020-04-17 12:01:08.463179      artem
2020-04-17 12:01:23.743946      artem
2020-04-17 12:35:52.735016      artem
2020-04-17 12:36:21.401412     oksana
2020-04-17 12:36:22.023355     oksana
...                               ...
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

[1072 rows x 1 columns]

In [ ]:
df['year'] = pd.DatetimeIndex(df['datetime']).year
df['month'] = pd.DatetimeIndex(df['datetime']).month
df['day'] = pd.DatetimeIndex(df['datetime']).day
df['hour'] = pd.DatetimeIndex(df['datetime']).hour
df['minute'] = pd.DatetimeIndex(df['datetime']).minute
df['second'] = pd.DatetimeIndex(df['datetime']).second
df

,datetime,user,year,month,day,hour,minute,second
0,2020-04-17 12:01:08.463179,artem,2020,4,17,12,1,8
1,2020-04-17 12:01:23.743946,artem,2020,4,17,12,1,23
2,2020-04-17 12:27:30.646665,artem,2020,4,17,12,27,30
3,2020-04-17 12:35:44.884757,artem,2020,4,17,12,35,44
4,2020-04-17 12:35:52.735016,artem,2020,4,17,12,35,52
...,...,...,...,...,...,...,...,...
1071,2020-05-21 18:45:20.441142,valentina,2020,5,21,18,45,20
1072,2020-05-21 23:03:06.457819,maxim,2020,5,21,23,3,6
1073,2020-05-21 23:23:49.995349,pavel,2020,5,21,23,23,49
1074,2020-05-21 23:49:22.386789,artem,2020,5,21,23,49,22
1075,2020-05-22 10:36:14.662600,artem,2020,5,22,10,36,14

cut: https://dfedorov.spb.ru/pandas/Разделение%20данных%20в%20Pandas%20с%20помощью%20qcut%20и%20cut.html

In [ ]:
# Названия категорий
cut_labels = ["night", 'early morning', 'morning', 'afternoon', 'early evening', 'evening']
# Интервалы деления на категории right=False - правая граница не входит
cut_bins = [0, 4, 7, 11, 17, 20, 24]
df['daytime'] = pd.cut(df.hour, bins = cut_bins , labels = cut_labels, right=False)
df

,datetime,user,year,month,day,hour,minute,second,daytime
0,2020-04-17 12:01:08.463179,artem,2020,4,17,12,1,8,afternoon
1,2020-04-17 12:01:23.743946,artem,2020,4,17,12,1,23,afternoon
2,2020-04-17 12:27:30.646665,artem,2020,4,17,12,27,30,afternoon
3,2020-04-17 12:35:44.884757,artem,2020,4,17,12,35,44,afternoon
4,2020-04-17 12:35:52.735016,artem,2020,4,17,12,35,52,afternoon
...,...,...,...,...,...,...,...,...,...
1071,2020-05-21 18:45:20.441142,valentina,2020,5,21,18,45,20,early evening
1072,2020-05-21 23:03:06.457819,maxim,2020,5,21,23,3,6,evening
1073,2020-05-21 23:23:49.995349,pavel,2020,5,21,23,23,49,evening
1074,2020-05-21 23:49:22.386789,artem,2020,5,21,23,49,22,evening
1075,2020-05-22 10:36:14.662600,artem,2020,5,22,10,36,14,morning

Посчитаем количество элементов (строк)

In [ ]:
df.count()

datetime    1076
user        1076
year        1076
month       1076
day         1076
hour        1076
minute      1076
second      1076
daytime     1076
dtype: int64

Посчитаем количество элементов в интервалах дня

In [ ]:
df['daytime'].value_counts()

evening          509
afternoon        252
early evening    145
night            129
morning           36
early morning      5
Name: daytime, dtype: int64

Отсортируем по заданию

In [ ]:
df_sort = df.sort_values(['hour', 'minute', 'second'])
df_sort.head()

,datetime,user,year,month,day,hour,minute,second,daytime
944,2020-05-15 00:00:13.222265,valentina,2020,5,15,0,0,13,night
945,2020-05-15 00:01:05.153738,valentina,2020,5,15,0,1,5,night
563,2020-05-12 00:01:27.764025,pavel,2020,5,12,0,1,27,night
564,2020-05-12 00:01:38.444917,pavel,2020,5,12,0,1,38,night
565,2020-05-12 00:01:55.395042,pavel,2020,5,12,0,1,55,night

Найдем максимальное значение в колонке "час" в категории "ночь"

In [ ]:
df[df['daytime'] == 'night']['hour'].max()

3

Найдем минимальное значение в колонке "час" в категории "утро"

In [ ]:
df[df['daytime'] == 'morning']['hour'].min()

8

Посмотрим этих людей

In [ ]:
df[(df['hour'] == df[df['daytime'] == 'night']['hour'].max())]

,datetime,user,year,month,day,hour,minute,second,daytime
46,2020-04-19 03:23:35.471598,konstantin,2020,4,19,3,23,35,night
47,2020-04-19 03:23:55.473926,konstantin,2020,4,19,3,23,55,night
48,2020-04-19 03:33:07.757714,konstantin,2020,4,19,3,33,7,night

In [ ]:
df[(df['hour'] == df[df['daytime'] == 'morning']['hour'].min())]

,datetime,user,year,month,day,hour,minute,second,daytime
963,2020-05-15 08:16:03.918402,alexander,2020,5,15,8,16,3,morning
964,2020-05-15 08:35:01.471463,alexander,2020,5,15,8,35,1,morning

Найдем моду (самое частое значение)

In [ ]:
df['hour'].mode()

0    22
dtype: int64

In [ ]:
df['daytime'].mode()

0    evening
Name: daytime, dtype: category
Categories (6, object): ['night' < 'early morning' < 'morning' < 'afternoon' < 'early evening' <
                         'evening']

Покажем 3 самых ранних часа утра и соответствующие имена пользователей и
3 последних часа и имена пользователей с использованием nsmallest() и nlargest()

In [ ]:
df[df['daytime'] == 'morning'].nsmallest(3, ['hour', 'minute', 'second'])

,datetime,user,year,month,day,hour,minute,second,daytime
963,2020-05-15 08:16:03.918402,alexander,2020,5,15,8,16,3,morning
964,2020-05-15 08:35:01.471463,alexander,2020,5,15,8,35,1,morning
965,2020-05-15 09:02:24.999438,alexander,2020,5,15,9,2,24,morning

In [ ]:
df[df['daytime'] == 'morning'].nlargest(3, ['hour', 'minute', 'second'])

,datetime,user,year,month,day,hour,minute,second,daytime
14,2020-04-18 10:57:37.331258,konstantin,2020,4,18,10,57,37,morning
229,2020-05-09 10:56:59.161519,konstantin,2020,5,9,10,56,59,morning
13,2020-04-18 10:56:55.833899,maxim,2020,4,18,10,56,55,morning

Используем метод describe(), чтобы получить базовую статистику для столбцов

https://medium.com/nuances-of-programming/6-функций-pandas-для-быстрого-эксплораторного-анализа-данных-8dd55e410b8b

In [ ]:
df.describe()

         year        month          day         hour       minute       second
count  1076.0  1076.000000  1076.000000  1076.000000  1076.000000  1076.000000
mean   2020.0     4.870818    13.552974    16.249071    29.629182    29.500929
std       0.0     0.335557     4.906567     6.955490    17.689388    17.405506
min    2020.0     4.000000     1.000000     0.000000     0.000000     0.000000
25%    2020.0     5.000000    11.000000    13.000000    14.000000    14.000000
50%    2020.0     5.000000    13.000000    19.000000    29.000000    30.000000
75%    2020.0     5.000000    15.000000    22.000000    46.000000    45.000000
max    2020.0     5.000000    30.000000    23.000000    59.000000    59.000000

Вычислим межквартильный диапазон для часа, извлекая значения из результата метода describe() и сохраняя его в переменной iqr

In [ ]:
iqr = df.describe()['hour'].loc['75%'] - df.describe()['hour'].loc['25%']
iqr

9.0

#ex02

In [ ]:
%autosave 60
import pandas as pd

Autosaving every 60 seconds

In [ ]:
from google.colab import drive  # если вы выполняете код из среды Google Colab, нужно подключить свой гугл-диск,
drive.mount('/content/drive')

Mounted at /content/drive

Создадим датафрейм, назначив индексом столбец ID

In [8]:
df = pd.read_csv('/content/drive/MyDrive/Pyton/auto.csv', index_col='ID')

In [9]:
df

        CarNumber    Make_n_model  Refund    Fines  History
ID
0    Y163O8161RUS      Ford Focus     2.0   3200.0      NaN
1     E432XX77RUS    Toyota Camry     1.0   6500.0      NaN
2     7184TT36RUS      Ford Focus     1.0   2100.0      NaN
3    X582HE161RUS      Ford Focus     2.0   2000.0      NaN
4    E34877152RUS      Ford Focus     2.0   6100.0      NaN
..            ...             ...     ...      ...      ...
926  Y163O8161RUS      Ford Focus     2.0   1600.0      NaN
927  M0309X197RUS      Ford Focus     1.0  22300.0      NaN
928  O673E8197RUS      Ford Focus     2.0    600.0      NaN
929  8610T8154RUS      Ford Focus     1.0   2000.0      NaN
930  H419XE197RUS  Toyota Corolla     2.0      NaN      2.0

[931 rows x 5 columns]

In [10]:
df.count()

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

Удалим повторные записи. Уникальными считаем сочетания значений в трех заданных столбцах, между двумя одинаковыми наблюдениями нужно выбрать последнее.

In [ ]:
df = df.drop_duplicates(subset=['CarNumber', 'Make_n_model', 'Fines'], keep='last')
df.count()

CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

Проверим, сколько значений отсутствует в каждом столбце

In [11]:
df.isna().sum()

CarNumber         0
Make_n_model      0
Refund           17
Fines            62
History         849
dtype: int64

Удалим все столбцы с более чем 500 отсутствующими значениями, используя фргумент thresh

Проверим, сколько осталось пропущенных значений в каждом столбце.

In [ ]:
df = df.dropna(axis=1, thresh=500)
df.isna().sum()

CarNumber        0
Make_n_model     0
Refund          12
Fines           60
dtype: int64

Заменим все пропущенные значения в столбце Refund предыдущим значением в столбце Refund.

In [ ]:
df['Refund'].fillna(method='ffill', inplace=True)
df.isna().sum()

CarNumber        0
Make_n_model     0
Refund           0
Fines           60
dtype: int64

Заменим все пропущенные значения в столбце Fines средним значением этого столбца

In [ ]:
df['Fines'].fillna(df['Fines'].mean(), inplace=True)
df.isna().sum()

CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

Разделим наименование машины (Make_n_model) на марку и модель. Используем метод apply. 
Удалим столбец Make_n_model

In [ ]:
df['Make'] = df['Make_n_model'].apply(lambda x: x.split()[0])
df['Model'] = df['Make_n_model'].apply(lambda x: x.split()[1] if len(x.split()) == 2 else None)
df.drop('Make_n_model', inplace=True, axis=1)
df

        CarNumber  Refund         Fines    Make    Model
ID
0    Y163O8161RUS     2.0   3200.000000    Ford    Focus
1     E432XX77RUS     1.0   6500.000000  Toyota    Camry
2     7184TT36RUS     1.0   2100.000000    Ford    Focus
3    X582HE161RUS     2.0   2000.000000    Ford    Focus
5    92918M178RUS     1.0   5700.000000    Ford    Focus
..            ...     ...           ...     ...      ...
926  Y163O8161RUS     2.0   1600.000000    Ford    Focus
927  M0309X197RUS     1.0  22300.000000    Ford    Focus
928  O673E8197RUS     2.0    600.000000    Ford    Focus
929  8610T8154RUS     1.0   2000.000000    Ford    Focus
930  H419XE197RUS     2.0   8594.586466  Toyota  Corolla

[725 rows x 5 columns]

Сохраним датафрейм в файле JSON

In [ ]:
df.to_json('/content/drive/MyDrive/Pyton/auto.json', orient='records', double_precision=1)

#ex03

In [ ]:
%autosave 60
import pandas as pd

Autosaving every 60 seconds

In [ ]:
from google.colab import drive  # если вы выполняете код из среды Google Colab, нужно подключить свой гугл-диск,
drive.mount('/content/drive')

Mounted at /content/drive

Загрузим файл JSON, созданный в предыдущем упражнении, в фрейм данных, установим CarNumber в качестве столбца индекса

https://lavrynenko.com/kak-chitat-json-fajl-v-python/

In [ ]:
df = pd.read_json('/content/drive/MyDrive/Pyton/auto.json')
df.set_index('CarNumber', inplace=True)
df

Посмотрим следующие выборы

◦ где штрафы больше 2100

In [ ]:
df[df['Fines'] > 2100]

◦ где штрафы больше 2100 и 2 возврата

In [ ]:
df[(df['Fines'] > 2100) & (df['Refund'] == 2)]

◦  где есть модели из списка: [’Фокус’, ‘Королла’]

In [ ]:
df[df.Model.isin(['Focus', 'Corolla'])]

◦  где номер машины из списка: [’Y7689C197RUS’,
'92928M178RUS', '7788KT197RUS', 'H115YO163RUS', 'X758HY197RUS']

In [ ]:
df[df.index.isin(['Y7689C197RUS', '92928M178RUS', '7788KT197RUS', 'H115YO163RUS', 'X758HY197RUS'])]

Посмотрим различные выборки.

◦ отобразим средние штрафы, сгруппированные по марке

In [ ]:
df.groupby(by=['Make']).median()['Fines']

◦ отобразим средние штрафы, сгруппированные по марке и модели

In [ ]:
df.groupby(by=['Make', 'Model']).median()['Fines']

◦ отобразим количество штрафов, сгруппированных по марке и модели, чтобы
понять, можем ли мы доверять средним значениям

In [ ]:
df.groupby(by=['Make', 'Model']).count()['Fines']

◦ отобразим минимальные и максимальные штрафы, сгруппированные по марке и
модель, чтобы лучше понять дисперсию

In [ ]:
df.groupby(['Make', 'Model']).min()['Fines']

In [ ]:
df.groupby(['Make', 'Model']).max()['Fines']

◦ отобразим стандартное отклонение, сгруппированных по производителям и моделям чтобы лучше понять разницу

In [ ]:
df.groupby(['Make', 'Model']).std()['Fines']

Сделаем агрегацию с номером автомобиля


◦ отобразим номера автомобилей, сгруппированных по количеству штрафов в
порядке убывания

In [ ]:
df.columns

Index(['Refund', 'Fines', 'Make', 'Model'], dtype='object')

In [ ]:
df.groupby(df.index)['Fines'].count().sort_values(ascending=False)

CarNumber
Y7689C197RUS    4
92928M178RUS    4
7788KT197RUS    4
H115YO163RUS    3
X758HY197RUS    3
               ..
E42577152RUS    1
E42377152RUS    1
E41977152RUS    1
E41577152RUS    1
H917TC36RUS     1
Name: Fines, Length: 531, dtype: int64

◦ выберем из исходного фрейма данных все строки, соответствующие номерам автомобилей топ-1 по количеству штрафов

Для наглядности отсортирую по номерам машин (у нас они являются индексами)

In [ ]:
df[df.index.isin(['Y7689C197RUS', '92928M178RUS', '7788KT197RUS'])].sort_index()

              Refund    Fines  Make  Model
CarNumber
7788KT197RUS       2  12000.0  Ford  Focus
7788KT197RUS       2   8594.6  Ford  Focus
7788KT197RUS       1  20000.0  Ford  Focus
7788KT197RUS       2   4000.0  Ford  Focus
92928M178RUS       1   8594.6  Ford  Focus
92928M178RUS       1    600.0  Ford  Focus
92928M178RUS       1   1200.0  Ford  Focus
92928M178RUS       2   3000.0  Ford  Focus
Y7689C197RUS       1  27000.0  Ford  Focus
Y7689C197RUS       2   9000.0  Ford  Focus
Y7689C197RUS       2  45000.0  Ford  Focus
Y7689C197RUS       1  36000.0  Ford  Focus

◦ отобразим номера автомобилей, сгруппированных по сумме штрафов в порядке убывания

Подробно и понятно про агрегирование:

https://sparkbyexamples.com/pandas/pandas-groupby-sum-examples/

In [ ]:
df.groupby( 'CarNumber').sum().sort_values(by=['Fines'],ascending=False)
# sort() игнорирует категорийные переменные, работает только с числами

              Refund     Fines
CarNumber
X758HY197RUS       6  242000.0
9020YC197RUS       4  217500.0
M0279X197RUS       4  216000.0
Y352O8197RUS       6  207200.0
Y778EE197RUS       3  192000.0
...              ...       ...
83218C154RUS       1     100.0
Y195O8161RUS       1     100.0
K376HE161RUS       1     100.0
705787163RUS       1     100.0
K326T8197RUS       1     100.0

[531 rows x 2 columns]

◦ выберем из исходного фрейма данных все строки, соответствующие номеру автомобиля топ-1 по сумме штрафов

In [ ]:
df[df.index.isin(['X758HY197RUS'])]

              Refund     Fines  Make  Model
CarNumber
X758HY197RUS       2   24200.0  Ford  Focus
X758HY197RUS       2   72600.0  Ford  Focus
X758HY197RUS       2  145200.0  Ford  Focus

◦ отобразим таблицу, которая отвечает на вопрос: есть ли какие-либо номера автомобилей, которые были подключены к разным моделям?

In [ ]:
df.groupby( 'CarNumber').count()['Model'].sort_values(ascending=False)

CarNumber
7788KT197RUS    4
Y7689C197RUS    4
92928M178RUS    4
7361C8197RUS    3
X758HY197RUS    3
               ..
X023HY197RUS    0
M5039X197RUS    0
96907X197RUS    0
Y693HM197RUS    0
Y687HM197RUS    0
Name: Model, Length: 531, dtype: int64

Вывод. Были номера, которые меняли марку машины, так как одному номеру соответствует несколько марок.

В моем результате я вижу нули. Меня это насторожило. Проверю, откуда они. Действительно, есть незаполненные поля марки.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 725 entries, Y163O8161RUS to H419XE197RUS
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Refund  725 non-null    int64
 1   Fines   725 non-null    float64
 2   Make    725 non-null    object
 3   Model   716 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 44.5+ KB

#ex04

In [ ]:
%autosave 60
import pandas as pd
import numpy as np
import requests

Autosaving every 60 seconds

In [ ]:
from google.colab import drive  # если вы выполняете код из среды Google Colab, нужно подключить свой гугл-диск,
drive.mount('/content/drive')

Mounted at /content/drive

 Прочитаем файл JSON, который сохранили в ex02

In [ ]:
df = pd.read_json('/content/drive/MyDrive/Pyton/auto.json')
df

        CarNumber  Refund     Fines    Make    Model
0    Y163O8161RUS       2  3,200.00    Ford    Focus
1     E432XX77RUS       1  6,500.00  Toyota    Camry
2     7184TT36RUS       1  2,100.00    Ford    Focus
3    X582HE161RUS       2  2,000.00    Ford    Focus
4    92918M178RUS       1  5,700.00    Ford    Focus
..            ...     ...       ...     ...      ...
720  Y163O8161RUS       2  1,600.00    Ford    Focus
721  M0309X197RUS       1 22,300.00    Ford    Focus
722  O673E8197RUS       2    600.00    Ford    Focus
723  8610T8154RUS       1  2,000.00    Ford    Focus
724  H419XE197RUS       2  8,594.60  Toyota  Corolla

[725 rows x 5 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 725 entries, 0 to 724
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CarNumber  725 non-null    object
 1   Refund     725 non-null    int64
 2   Fines      725 non-null    float64
 3   Make       725 non-null    object
 4   Model      716 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 28.4+ KB

◦ один из столбцов имеет тип float, поэтому определим его формат в
pandas с помощью pd.options.display.float_format: значения с плавающей запятой должны отображаться с двумя десятичными знаками

◦ в модели отсутствуют значения, ничего с ними не делаем

In [ ]:
pd.options.display.float_format = '{:,.2f}'.format

Добавим новые данные (выдуманные штрафы). Закрепленные значения - номер, марка, модель, возврат и штрафы рандомные из имеющихся.

In [ ]:
sample = df.sample(n=200, random_state=21).reset_index(drop=True)
sample

        CarNumber  Refund     Fines        Make   Model
0    M0299X197RUS       2 19,200.00        Ford   Focus
1    83298C154RUS       2  8,594.60        Ford   Focus
2    H957HY161RUS       1  2,000.00        Ford   Focus
3     T941CC96RUS       1  2,000.00        Ford   Focus
4    H966HY161RUS       1    500.00        Ford   Focus
..            ...     ...       ...         ...     ...
195  8182XX154RUS       1    200.00        Ford   Focus
196   X796TH96RUS       1    500.00        Ford   Focus
197  T011MY163RUS       2  4,000.00        Ford   Focus
198   T341CC96RUS       2  1,000.00  Volkswagen  Passat
199   T119CT96RUS       1  2,000.00        Ford   Focus

[200 rows x 5 columns]

Выберем 200 случайных значений для возвратов и штрафов и заменим ими столбцы в нашей выборке

In [ ]:
sample_for_Refund = df.sample(n=200, random_state=42).reset_index(drop=True)
sample_for_Refund['Refund']

In [ ]:
sample_for_Fines = df.sample(n=200, random_state=30).reset_index(drop=True)
sample_for_Fines['Fines']

In [ ]:
sample['Fines'] = sample_for_Fines['Fines']
sample['Refund'] = sample_for_Refund['Refund']
sample

Добавим эти строкм в основной датафрейм

In [ ]:
concat_rows = pd.concat([df, sample])
concat_rows

Дополним concat_rows новым столбцом со сгенерированными данными

In [ ]:
# Задаем параметры генерации случайных чисел
np.random.seed(21)

◦ создадим серию с названием Year, используя случайные целые числа с 1980 по 2019 год. Надо использовать np.random.seed(21) перед генерацией лет.

Объединим серию с датафреймом

In [ ]:
Year = pd.Series([np.random.randint(1980,2019) for i in range(len(concat_rows))])
Year

In [ ]:
concat_rows['Year'] = Year.astype('int')
concat_rows

Добавим еще выдуманных данных


Создадим новый фрейм данных с номерами автомобилей и их владельцами. Для этого:

Считаем файл с самыми распространенными фамилиями

In [ ]:
surname = pd.read_json('/content/drive/MyDrive/Pyton/surname.json')

Создадим новую серию с фамилиями (в них не должно быть специальных символов, таких как запятые, скобки и т.д.) Количество должно быть равно количеству уникальных номеров автомобилей. Использовать random_state = 21

Создадим столбец из уникальных номеров. Заодно посмотрим, сколько их для создания списка фамилий.

In [ ]:
owner_car = concat_rows.drop_duplicates('CarNumber')['CarNumber']
owner_car = owner_car.reset_index(drop=True)
owner_car

0      Y163O8161RUS
1       E432XX77RUS
2       7184TT36RUS
3      X582HE161RUS
4      92918M178RUS
           ...
526    O136HO197RUS
527    O22097197RUS
528    M0309X197RUS
529    O673E8197RUS
530    8610T8154RUS
Name: CarNumber, Length: 531, dtype: object

Создадим такой же по длине столбец фамилий.

In [ ]:
owner_name = surname['NAME'].sample(n=531, random_state=21, replace=True, ignore_index=True)
owner_name

Создадим датафрейм с 2 столбцами: номер и фамилия

In [ ]:
owners = pd.DataFrame(data=owner_car)
owners['SURNAME'] = owner_name
owners

Подготовим данные для демонстрации умения объединять таблицы по разным условиям

Добавим еще 5 наблюдений к датафрейму данных о штрафах (придумайте свои собственные идеи)

In [ ]:
sample_5 = df.sample(n=5, random_state=21).reset_index(drop=True)
Refund_5 = df.sample(n=5, random_state=42).reset_index(drop=True)
Fines_5 = df.sample(n=5, random_state=30).reset_index(drop=True)
sample_5['Fines'] = sample_for_Fines['Fines']
sample_5['Refund'] = sample_for_Refund['Refund']
sample_5['Year'] = [2000, 1996, 2002, 2010, 1999]
car_test = pd.concat([concat_rows, sample_5])
car_test

       CarNumber  Refund    Fines    Make  Model  Year
0   Y163O8161RUS       2 3,200.00    Ford  Focus  1989
1    E432XX77RUS       1 6,500.00  Toyota  Camry  1995
2    7184TT36RUS       1 2,100.00    Ford  Focus  1984
3   X582HE161RUS       2 2,000.00    Ford  Focus  2015
4   92918M178RUS       1 5,700.00    Ford  Focus  2014
..           ...     ...      ...     ...    ...   ...
0   M0299X197RUS       1 8,300.00    Ford  Focus  2000
1   83298C154RUS       2 8,594.60    Ford  Focus  1996
2   H957HY161RUS       2 1,300.00    Ford  Focus  2002
3    T941CC96RUS       1 2,400.00    Ford  Focus  2010
4   H966HY161RUS       1 2,400.00    Ford  Focus  1999

[930 rows x 6 columns]

Удалим из датафрейма владельцев последние 20 наблюдений и добавим 3 новых

In [ ]:
owners_test = owners.drop(owners.tail(20).index)
add3 = owners.sample(n=3, random_state=21)
owners_test = pd.concat([owners_test, add3], ignore_index=True)
owners_test

        CarNumber     SURNAME
0    Y163O8161RUS  RICHARDSON
1     E432XX77RUS        ROSS
2     7184TT36RUS      MORGAN
3    X582HE161RUS      BAILEY
4    92918M178RUS       LOPEZ
..            ...         ...
509  O50197197RUS      WRIGHT
510  7608EE777RUS        HILL
511  K376HE161RUS      WATSON
512  7840C8197RUS    ANDERSON
513  8201XX154RUS        LONG

[514 rows x 2 columns]

Будем соединять эти датафреймы разными способами

Подробно и понятно про агрегирование:

https://sparkbyexamples.com/pandas/pandas-groupby-sum-examples/

∗ новый фрейм данных должен содержать только номера автомобилей, существующие в обоих фреймах данных.

In [ ]:
test1 = pd.merge(car_test, owners_test, on='CarNumber', how='inner')
test1

∗ новый фрейм данных должен содержать все номера автомобилей, существующие в обоих фреймах данных.

In [ ]:
test2 = pd.merge(car_test, owners_test, on='CarNumber', how='outer')
test2

∗ новый фрейм данных должен содержать только номера автомобилей из фрейма данных штрафов

In [ ]:
test3 = pd.merge(car_test, owners_test, on='CarNumber', how='left')
test3

∗ новый фрейм данных должен содержать только номера автомобилей из
фрейма данных владельцев

In [ ]:
test4 = pd.merge(car_test, owners_test, on='CarNumber', how='right')
test4

Cоздадим сводную таблицу по заданию

In [ ]:
pd.pivot_table(car_test,
               columns='Year',
               values='Fines',
               index=['Make', 'Model'],
               aggfunc={'Fines': np.sum})

Сохраним фреймы данных о штрафах и владельцах в CSV-файлах без индекса

In [ ]:
car_test.to_csv('/content/drive/MyDrive/Pyton/fines.csv', index=False)
owners.to_csv('/content/drive/MyDrive/Pyton/owners.csv', index=False)

#ex05

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive  # если вы выполняете код из среды Google Colab, нужно подключить свой гугл-диск,
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Pyton/fines.csv')
df

        CarNumber  Refund   Fines    Make  Model  Year
0    Y163O8161RUS       2  3200.0    Ford  Focus  1989
1     E432XX77RUS       1  6500.0  Toyota  Camry  1995
2     7184TT36RUS       1  2100.0    Ford  Focus  1984
3    X582HE161RUS       2  2000.0    Ford  Focus  2015
4    92918M178RUS       1  5700.0    Ford  Focus  2014
..            ...     ...     ...     ...    ...   ...
925  M0299X197RUS       1  8300.0    Ford  Focus  2000
926  83298C154RUS       2  8594.6    Ford  Focus  1996
927  H957HY161RUS       2  1300.0    Ford  Focus  2002
928   T941CC96RUS       1  2400.0    Ford  Focus  2010
929  H966HY161RUS       1  2400.0    Ford  Focus  1999

[930 rows x 6 columns]

Во всех следующих подзадачах нужно рассчитать штрафы/возврат*год для каждой строкй строки, создать новый столбец с рассчитанными данными и измерить время
с помощью timeit в ячейке

Сначала рассчитаем обычным циклом с методом append()

In [ ]:
%%time
new_col = []

for i in range(0, len(df)):
    new_col.append(df.iloc[i]['Fines'] / (df.iloc[i]['Refund'] * df.iloc[i]['Year']))

df['Fines / Refund * Year'] = new_col

CPU times: user 355 ms, sys: 0 ns, total: 355 ms
Wall time: 355 ms

In [ ]:
df

## Итерации

Метод iterrows()

Во время каждой итерации мы можем получить доступ и к индексу строки и к содержимому.

In [ ]:
%%time
new_col = []

for index, row in df.iterrows():
    new_col.append(row['Fines'] / (row['Refund'] * row['Year']))

df['Fines / Refund * Year'] = new_col

CPU times: user 56.5 ms, sys: 0 ns, total: 56.5 ms
Wall time: 57 ms

С помощью apply() и лямбда-функции

In [ ]:
%%time
df['Fines / Refund * Year'] = df.apply(
    lambda row: row['Fines'] / (row['Refund'] * row['Year']), axis=1
    )

CPU times: user 22.3 ms, sys: 0 ns, total: 22.3 ms
Wall time: 26.5 ms

Используя объекты Series из датафрейма

In [ ]:
%%time
df['Fines / Refund * Year'] = df['Fines'] / (df['Refund'] * df['Year'])

CPU times: user 1.68 ms, sys: 0 ns, total: 1.68 ms
Wall time: 1.69 ms

Используя объекты Series из датафрейма, но методом .values()

In [ ]:
%%time
df['Fines / Refund * Year'] = df['Fines'].values / (
    df['Refund'].values * df['Year'].values
    )

CPU times: user 2.9 ms, sys: 0 ns, total: 2.9 ms
Wall time: 2.74 ms

## Индексация

Выведем строку для определенного CarNumber

In [ ]:
%%time
df.loc[df['CarNumber'] == 'M0299X197RUS']

CPU times: user 3.07 ms, sys: 0 ns, total: 3.07 ms
Wall time: 3.09 ms

        CarNumber  Refund    Fines  Make  Model  Year  Fines / Refund * Year
190  M0299X197RUS       2  67200.0  Ford  Focus  1995              16.842105
445  M0299X197RUS       2  19200.0  Ford  Focus  2005               4.788030
473  M0299X197RUS       1   9600.0  Ford  Focus  2007               4.783259
725  M0299X197RUS       1   8300.0  Ford  Focus  1989               4.172951
925  M0299X197RUS       1   8300.0  Ford  Focus  2000               4.150000

Установим CarNumber индекс в вашем фрейме данных с помощью CarNumber

In [ ]:
df1 = df.set_index('CarNumber')

Снова получим строку для того же CarNumber

In [ ]:
%%time
df1.loc['M0299X197RUS']

CPU times: user 0 ns, sys: 1.01 ms, total: 1.01 ms
Wall time: 1.02 ms

              Refund    Fines  Make  Model  Year  Fines / Refund * Year
CarNumber
M0299X197RUS       2  67200.0  Ford  Focus  1995              16.842105
M0299X197RUS       2  19200.0  Ford  Focus  2005               4.788030
M0299X197RUS       1   9600.0  Ford  Focus  2007               4.783259
M0299X197RUS       1   8300.0  Ford  Focus  1989               4.172951
M0299X197RUS       1   8300.0  Ford  Focus  2000               4.150000

## Понижение разряда числовых переменных

Посмотрим, какие типы данных у нас изначально. Для этого используем "глубокую" информацию.

In [ ]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CarNumber              930 non-null    object
 1   Refund                 930 non-null    int64
 2   Fines                  930 non-null    float64
 3   Make                   930 non-null    object
 4   Model                  919 non-null    object
 5   Year                   930 non-null    int64
 6   Fines / Refund * Year  930 non-null    float64
dtypes: float64(2), int64(2), object(3)
memory usage: 51.0+ KB

Создадим оптимизированный датафрейм из исходного. Для этого:

- понизим от float64 до float32 для всех столбцов

- понизим от int64 до наименьшего числового возможного dtype

In [ ]:
df_optimized = df.copy()
df_optimized['Fines'] = pd.to_numeric(df_optimized['Fines'], downcast='float')
df_optimized['Refund'] = pd.to_numeric(df_optimized['Refund'], downcast='integer')
df_optimized['Year'] = pd.to_numeric(df_optimized['Year'], downcast='integer')

Проверим новые типы данных.

In [ ]:
df_optimized.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CarNumber              930 non-null    object
 1   Refund                 930 non-null    int8
 2   Fines                  930 non-null    float32
 3   Make                   930 non-null    object
 4   Model                  919 non-null    object
 5   Year                   930 non-null    int16
 6   Fines / Refund * Year  930 non-null    float64
dtypes: float32(1), float64(1), int16(1), int8(1), object(3)
memory usage: 188.4 KB

##Категории

◦ Изменим столбцы типа объекта на тип категория

In [ ]:
df_optimized['Make'] = df_optimized['Make'].astype('category')
df_optimized['Model'] = df_optimized['Model'].astype('category')

In [ ]:
df_optimized.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CarNumber              930 non-null    object
 1   Refund                 930 non-null    int8
 2   Fines                  930 non-null    float32
 3   Make                   930 non-null    category
 4   Model                  919 non-null    category
 5   Year                   930 non-null    int16
 6   Fines / Refund * Year  930 non-null    float64
dtypes: category(2), float32(1), float64(1), int16(1), int8(1), object(1)
memory usage: 79.6 KB

Видим, что объем занимаемой памяти уменьшился более, чем в два раза

Очистим память от исходного датасета

In [ ]:
%reset_selective -f df

In [ ]:
df

NameError: ignored

Видтим, что память очистилась